@import 'partials/reset';

.gif {
    float: left;
    width: 100%;

    @media (min-width: 700px) {
         width: 50%;
    }
    // @media (min-width: 700px)

    @media (min-width: 1200px) {
         width: 25%;
    }
    // @media (min-width: 1200px)

    img {
        display: block;
        width: 100%;
    }
    // img

}
// .gif